VITE_API_BASE_URL=https://educloud-backend-256466268027.asia-southeast1.run.app/api
VITE_BUCKET_VIDEOS=educloud-videos-497414
VITE_BUCKET_DOCS=educloud-documents-497414
VITE_BUCKET_LOGS=educloud-logs-497414
